
div[id^='chartout']{
    width: 450px;
    background-color: #f7fff7;
    height: 480px;
    padding-top: 40px;
}

div[id^='chart']{
    padding: 0;
    margin: 0;
    width: 436px;
    height: 441px;
    background-color: #f7fff7;
}

/*#progress-bar{
    width: 400px;
    height: 20px;
    margin-left: 20px;
}*/

input[id^='chart-detail']{
    width:75px;
}

span[id^='tip'], label {
    font-size: 10px;
}

span[id^='tip'] {
    position: absolute;
    top: -30px;
}

div[id^='detail']{
    position: absolute;
    right: 10px;
    display:none;
}

div[id^='detail-main']{
    display:block!important;
}

button[id^='shadeInputLabel']{
    top: -30px;
    position: absolute;
    left: 1px;
    width: 80px;
}

/*#tabs{
    width: 450px;
    background-color: #f7fff7;
}

#navTab{
    margin-bottom: 0;
}

.tab-content{
    height: 430px;
}

.tab-content .tab-pane{
    padding: 5px;
}

#tab1 table th{
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

#tab1 table td{
    text-align: center;
    vertical-align: middle;
}*/

/*#chart2{
    margin: 0;
    width: 440px;
    background-color: #f7fff7;
}*/

/*
#choose{
    position: absolute;
    left: 20px;
    top: 210px;
}

#choose button{
    height: 29px;
}

#choose select{
    width: 280px;
}*/

/*#guidelines {
    margin: 10px 0 0 5px;
    padding: 5px;
    font-size:90%;
    background-color: #ffffda;
    color: #333;
    width: 410px
}
*/
/*#control-bar{
    margin: 0;
    padding: 0;
}*/
